{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
</head>
<body class="bg-info text-light">
    <div class="jumbotron bg-dark m-0">
        <center>
            <h1 class="text-light m-4">English Dictionary</h1>
            <form method="post" class="form-inline col-lg-6 col-md-12 m-4">
                {% csrf_token %}
                <input
                        id="search_for_word"
                        type="text"
                        class="form-control col-md-8 col-sm-12"
                        placeholder="Search for word..."
                        name="word"
                        value="{{ word }}">
                <input type="submit" value="Search" class="btn btn-success col-md-4 col-sm-12" tabindex="-1">
            </form>
        </center>
    </div>
    {% if meanings %}
    <div class="container mt-5 bg-warning p-5" style=" width: 100%;">
        <h2>Results for {{ word }}</h2>
        <ul>
        {% for meaning in meanings %}
            <li>{{ meaning }}</li>
        {% endfor %}
        </ul>
    </div>
    {% elif related_word %}
    <div class="container text-center mt-5 p-5 bg-warning text-dark">
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="word" value="{{ related_word }}">
            Do You mean by "<input type="submit" style="text-decoration: underline; font-style: italic; font-weight: bold;" class="btn bg-transparent p-0 text-primary" value="{{ related_word }}">"
        </form>
    </div>
    {% elif words == 'No Words' %}
    <center class="bg-warning text-danger p-5" style="border-radius: 10px;">There is no word in our database which you had searched for, you may check the spelling.</center>
    {% endif %}
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script>
        $.get("/api/data_keys/", (data, status) => {
            autocomplete(document.getElementById("search_for_word"), data);
            console.log(data)
        })
    </script>
</body>
</html>
